* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SORA', sans-serif;
}

:root{
    --primary: #232526;
    --secondary: #414345;
    --white: #fff;
    --h2: #cdcdcd;
    --btnhover: #8e8e8e;

    --text-heading: 40px;
}

body{
    background-color: var(--primary);
}

hr{
    color: var(--secondary);
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;
}

h1, h2{
    line-height: 1.2;
    font-weight: 300;
    color: var(--white);
}

p{
    line-height: 1.7;
    font-weight: 400;
    color: var(--white);
}

.btn{
    border: 1px solid var(--white);
    padding: 10px 50px;
    border-radius: 25px;
    color: var(--secondary);
    background-color: var(--white);
    font-size: 16px;
}

.btn:hover{
    background-color: var(--btnhover);
    color: var(--white);
    transition: ease 0.2s;
}



/**----------------------------------------------------------------*/
.hero{
    max-width: 1200px;
    width: 100%;
    height: 700px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1{
    margin: 0;
    font-size: 48px;
}

.hero h2{
    color: var(--h2);
    margin: 8px 0 20px;
    font-size: 20px;
}

/**---------------------------------------------------------------*/
.about {
    max-width: 700px;
    padding: 0 50px;
    width: 100%;
    margin: 0 auto;
}

.about h1{
    font-size: var(--text-heading);
    margin: 0;
}

.about p{
    font-weight: 200;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first-row,
.second-row,
.third-row {
  display: flex;
  gap: 20px;
}

.gallery-item {
  flex: 1;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}