* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SORA', sans-serif;
}

:root{
    --primary: #232526;
    --secondary: #414345;
    --white: #fff;

    --text-heading: 40px;
}

body{
    background-color: var(--primary);
}

hr{
    width: 1100px;
    margin: 50px auto;
}

h1, h2{
    line-height: 1.2;
    font-weight: 300;
    color: var(--white);
}

p{
    line-height: 1.7;
    font-weight: 400;
    color: var(--white);
}

.about {
    max-width: 1100px;
    margin: 0 auto;
}

.about h1{
    font-size: var(--text-heading);
    margin: 0;
}

.about p{
    font-weight: 200;
}