* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #232526;
    --secondary: #414345;
    --white: #fff;

    --text-heading: 40px;
}

body{
    background-color: var(--primary);
}

hr{
    color: var(--secondary);
    width: 1100px;
    margin: 100px auto;
}

h1, h2{
    line-height: 1.2;
    font-weight: 300;
    color: var(--white);
}

p{
    line-height: 1.7;
    font-weight: 400;
    color: var(--white);
}

.btn{
    border: 1px solid var(--white);
    padding: 10px 50px;
    border-radius: 25px;
    color: var(--white);
    margin: 32px 0 50px;
}

.btn:hover{
    background-color: var(--secondary);
}



/**----------------------------------------------------------------*/
.hero{
    max-width: 1100px;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1{
    margin: 0;
    font-size: 48px;
}

.hero h2{
    margin: 16px 0 0;
    font-size: 24px;
}

/**---------------------------------------------------------------*/
.about {
    max-width: 1100px;
    margin: 0 auto;
}

.about h1{
    font-size: var(--text-heading);
    margin: 0;
}

